In [1]:
import pandas as pd

In [2]:
gapminder = pd.read_csv('G:\\coursera\\data_analysis_and_interpretation\\1_managment_and_visuallization\\w_1\\gapminder.csv')

In [7]:
gapminder.head()

,country,incomeperperson,alcconsumption,armedforcesrate,breastcancerper100th,co2emissions,femaleemployrate,hivrate,internetuserate,lifeexpectancy,oilperperson,polityscore,relectricperperson,suicideper100th,employrate,urbanrate
0,Afghanistan,,.03,.5696534,26.8,75944000,25.6000003814697,,3.65412162280064,48.673,,0,,6.68438529968262,55.7000007629394,24.04
1,Albania,1914.99655094922,7.29,1.0247361,57.4,223747333.333333,42.0999984741211,,44.9899469578783,76.918,,9,636.341383366604,7.69932985305786,51.4000015258789,46.72
2,Algeria,2231.99333515006,.69,2.306817,23.5,2932108666.66667,31.7000007629394,.1,12.5000733055148,73.131,.42009452521537,2,590.509814347428,4.8487696647644,50.5,65.22
3,Andorra,21943.3398976022,10.17,,,,,,81,,,,,5.36217880249023,,88.92
4,Angola,1381.00426770244,5.57,1.4613288,23.1,248358000,69.4000015258789,2,9.99995388324075,51.093,,-2,172.999227388199,14.5546770095825,75.6999969482422,56.7

In [10]:
len(gapminder['incomeperperson'])  H1GI1M

213

In [ ]:
addHealth = pd.read_csv('G:\\coursera\\data_analysis_and_interpretation\\1_managment_and_visuallization\\w_1\\addhealth_pds.csv')

In [12]:
addHealth.head(3)

,AID,IMONTH,IDAY,IYEAR,SCID,SSCID,COMMID,MACNO,INTID,SCH_YR,...,SMP08,CLUSTER1,CLUSTER2,IMONTH2,IYEAR2,H2GI1M,H2GI1Y,finbd,finID,age
0,57100270,6,23,95,77,177,477,100186,901186,1,...,0,477,178,,,,,,,
1,57101310,5,5,95,7,7,407,100084,921084,1,...,0,407,108,4,96,11,76,11/15/1976,4/15/1996,19.427397260274
2,57103171,6,27,95,14,114,414,100143,927143,0,...,0,414,115,,,,,,,

In [4]:
addHealth['H1GI1M'].head(5)

0    10
1    11
2    10
3     1
4     6
Name: H1GI1M, dtype: int64

In [24]:
type(addHealth)

pandas.core.frame.DataFrame

In [13]:
addHealth['H1GI1M'].value_counts()

7     586
9     580
10    572
3     556
5     555
8     549
4     533
11    529
6     523
12    517
1     507
2     494
96      3
Name: H1GI1M, dtype: int64

In [17]:
addHealth['H1DA3'].value_counts()

3    3811
2    1433
1    1031
0     223
8       4
6       2
Name: H1DA3, dtype: int64

In [20]:
temp=pd.read_csv("G:\\coursera\\data_analysis_and_interpretation\\1_managment_and_visuallization\\w_1\\temp\\GlobalLandTemperaturesByCountry.csv")

In [22]:
temp.head(20)

            dt  AverageTemperature  AverageTemperatureUncertainty Country
0   1743-11-01               4.384                          2.294   Åland
1   1743-12-01                 NaN                            NaN   Åland
2   1744-01-01                 NaN                            NaN   Åland
3   1744-02-01                 NaN                            NaN   Åland
4   1744-03-01                 NaN                            NaN   Åland
5   1744-04-01               1.530                          4.680   Åland
6   1744-05-01               6.702                          1.789   Åland
7   1744-06-01              11.609                          1.577   Åland
8   1744-07-01              15.342                          1.410   Åland
9   1744-08-01                 NaN                            NaN   Åland
10  1744-09-01              11.702                          1.517   Åland
11  1744-10-01               5.477                          1.862   Åland
12  1744-11-01               3.407                          1.425   Åland
13  1744-12-01              -2.181                          1.641   Åland
14  1745-01-01              -3.850                          1.841   Åland
15  1745-02-01              -6.575                          1.360   Åland
16  1745-03-01              -4.195                          1.213   Åland
17  1745-04-01              -0.966                          1.172   Åland
18  1745-05-01                 NaN                            NaN   Åland
19  1745-06-01                 NaN                            NaN   Åland

In [23]:
temp['Country'].value_counts()

Europe                                       3239
Latvia                                       3239
Spain                                        3239
Denmark (Europe)                             3239
Jersey                                       3239
Ukraine                                      3239
Belgium                                      3239
Luxembourg                                   3239
Hungary                                      3239
Serbia                                       3239
Estonia                                      3239
Saint Pierre And Miquelon                    3239
Slovakia                                     3239
Austria                                      3239
Sweden                                       3239
United Kingdom (Europe)                      3239
Croatia                                      3239
Poland                                       3239
Moldova                                      3239
Norway                                       3239
France                                       3239
Czech Republic                               3239
Macedonia                                    3239
United Kingdom                               3239
France (Europe)                              3239
Switzerland                                  3239
Slovenia                                     3239
Bosnia And Herzegovina                       3239
Isle Of Man                                  3239
Netherlands                                  3239
                                             ...
Swaziland                                    1881
South Africa                                 1881
Namibia                                      1881
Angola                                       1878
New Caledonia                                1870
Falkland Islands (Islas Malvinas)            1845
Djibouti                                     1797
Eritrea                                      1797
Ecuador                                      1771
Niue                                         1761
Fiji                                         1761
American Samoa                               1761
Tonga                                        1761
Solomon Islands                              1761
Samoa                                        1761
South Georgia And The South Sandwich Isla    1666
Yemen                                        1653
French Polynesia                             1646
Timor Leste                                  1627
Palau                                        1581
Papua New Guinea                             1581
Kiribati                                     1569
Kingman Reef                                 1569
Palmyra Atoll                                1569
Federated States Of Micronesia               1427
Northern Mariana Islands                     1329
Guam                                         1329
Heard Island And Mcdonald Islands             788
French Southern And Antarctic Lands           788
Antarctica                                    764
Name: Country, dtype: int64

In [24]:
len(temp)

577462

In [2]:
acc=pd.read_csv('G:\\coursera\\data_analysis_and_interpretation\\1_managment_and_visuallization\\w_1\\Traffic Fatalities\\files\\accident.csv')

In [3]:
acc.head()

,STATE,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERNOTMVIT,PERMVIT,PERSONS,COUNTY,...,NOT_MIN,ARR_HOUR,ARR_MIN,HOSP_HR,HOSP_MN,CF1,CF2,CF3,FATALS,DRUNK_DR
0,1,10001,1,1,0,0,0,1,1,127,...,99,2,58,88,88,0,0,0,1,1
1,1,10002,1,1,0,0,0,1,1,83,...,99,22,20,88,88,0,0,0,1,0
2,1,10003,1,1,0,0,0,2,2,11,...,99,1,45,99,99,0,0,0,1,1
3,1,10004,1,1,0,0,0,1,1,45,...,99,1,15,88,88,0,0,0,1,1
4,1,10005,2,2,0,0,0,2,2,45,...,99,7,16,88,88,0,0,0,1,0

In [4]:
acc.columns

Index([u'STATE', u'ST_CASE', u'VE_TOTAL', u'VE_FORMS', u'PVH_INVL', u'PEDS',
       u'PERNOTMVIT', u'PERMVIT', u'PERSONS', u'COUNTY', u'CITY', u'DAY',
       u'MONTH', u'YEAR', u'DAY_WEEK', u'HOUR', u'MINUTE', u'NHS', u'RUR_URB',
       u'FUNC_SYS', u'RD_OWNER', u'ROUTE', u'TWAY_ID', u'TWAY_ID2', u'MILEPT',
       u'LATITUDE', u'LONGITUD', u'SP_JUR', u'HARM_EV', u'MAN_COLL',
       u'RELJCT1', u'RELJCT2', u'TYP_INT', u'WRK_ZONE', u'REL_ROAD',
       u'LGT_COND', u'WEATHER1', u'WEATHER2', u'WEATHER', u'SCH_BUS', u'RAIL',
       u'NOT_HOUR', u'NOT_MIN', u'ARR_HOUR', u'ARR_MIN', u'HOSP_HR',
       u'HOSP_MN', u'CF1', u'CF2', u'CF3', u'FATALS', u'DRUNK_DR'],
      dtype='object')

In [8]:
acc['WEATHER2'].value_counts()

0     31147
10      782
2        71
11       45
12       34
5        30
1        16
3        11
4         8
6         7
7         6
99        5
8         4
Name: WEATHER2, dtype: int64